<h2> Question 1 </h2>
Consider the following Python module:

In [1]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a+2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

When you execute the function b, this one refers to the global a and save the value, c function doesn't do that but it has been calling from b.

- each time you executes b() function, the global a sums 2

<h2> Question 2 </h2>
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file.

```python
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
```

As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:

```python
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.
```

In [8]:
def filelength(filename):
    try:
        with open(filename) as f:
            x = len(fp.readlines())
            print(x)
    except FileNotFoundError:
        print("file " + filename + " not found")

In [12]:
filelength("example.txt")

file example.txt not found

<h2> Question 3 </h2>
Write a class named Marsupial that can be used as shown below:

```python
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
```
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and

c. overloads the __str__ operator so it behaves as shown below.

```python
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)
```

In [1]:
class Marsupial:
    
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, value):
        'add an object to the list'
        self.pouch.append(value)
    def pouch_contents(self):
        'show the things in the pouch'
        return self.pouch

In [58]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord=0, ycoord=0):
        self.pouch = []
        self.x = xcoord
        self.y = ycoord
        
    def __str__(self):
        return ("I am a kangaroo located at coordinates (" + str(self.x) +", "+ str(self.y) +")")
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

In [20]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("Dog")
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (0, 0)
I am a kangaroo located at coordinates (2, 0)

<h2> Question 4 </h2>

Write function *collatz()* that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

$$ x=   \left\{
\begin{array}{ll}
      \frac{x}{2} & ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ \\
      3ùë•+1 & ùëñùëì ùë• ùëñùë† ùëúùëëùëë\\
\end{array} 
\right.  $$ 
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [34]:
def collatz(x):
    print(x)
    if (x != 1):
        if (x % 2 == 0):
            collatz(x/2)
        else:
            collatz(3*x+1)

In [37]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

<h2> Question 5 </h2>
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [88]:
def binary(b):
    value = ""
    if b < 2:
        value += str(b)
    else:
        binary(b//2)
        value += str(b%2)    
    print(value, end ="")

In [100]:
binary(9)

1001

<h2> Question 6 </h2>
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc.

Test your
implementation using w3c.html

In [63]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.tags=[]

    def handle_starttag(self, tag, attrs):
        self.tags.append(tag) 
    def handle_data(self, data):
        self.tags.append(data)
    def printh(self):
        x=self.tags
        indent=0
        for l in range(len(x)):
            if x[l]=="h1" or x[l]=="h2" or x[l]=="h3" or x[l]=="h4" or x[l]=="h5" or x[l]=="h6" or x[l]=="h7":
                if(x[l]=="h1"):
                    indent=0
                elif(x[l]=="h2"):
                    indent=1
                elif(x[l]=="h3"):
                    indent=2
                elif(x[l]=="h4"):
                    indent=3
                elif(x[l]=="h5"):
                    indent=4
                elif(x[l]=="h6"):
                    indent=5
                elif(x[l]=="h7"):
                    indent=6
                for s in range(indent):
                    print(" ",end="")
                print(x[l+1])

In [64]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
hp.printh()

W3C Mission
 Principles

<h2> Question 7 </h2>
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL

SyntaxError: invalid syntax (Temp/ipykernel_24148/836155201.py, line 1)

<h2> Question 8 </h2>
Write SQL queries on the below database table that return:

a) All the temperature data. <br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.

In [45]:
import sqlite3
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("Create TABLE db (City varchar(255), Country varchar(255), Season varchar(255), Temperature float, Rainfall float);")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Mumbai','India','Winter','24.8','5.9');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Mumbai','India','Spring','28.4','16.2');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Mumbai','India','Summer','27.9','1549.4');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Mumbai','India','Fall','27.6','346.0');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('London','United Kingdom','Winter','4.2','207.7');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('London','United Kingdom','Spring','8.3','169.6');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('London','United Kingdom','Summer','15.7','157.0');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('London','United Kingdom','Fall','10.4','218.5');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Cairo','Egypt','Winter','13.6','16.5');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Cairo','Egypt','Spring','20.7','6.5');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Cairo','Egypt','Summer','27.7','0.1');")
cur.execute("insert into db (City, Country, Season, Temperature, Rainfall) values ('Cairo','Egypt','Fall','22.2','4.5');")

In [46]:
cur.execute('SELECT Temperature FROM db ORDER BY Temperature')

for record in cur:
    print(record)

(4.2,)
(8.3,)
(10.4,)
(13.6,)
(15.7,)
(20.7,)
(22.2,)
(24.8,)
(27.6,)
(27.7,)
(27.9,)
(28.4,)

In [47]:
cur.execute('SELECT DISTINCT City FROM db')

for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

In [48]:
cur.execute('SELECT * FROM db WHERE Country = "India"')

for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [49]:
cur.execute('SELECT * FROM db WHERE Season = "Fall"')

for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [50]:
cur.execute('SELECT City, Country, Season FROM db WHERE Rainfall BETWEEN 200 AND 400')

for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [51]:
cur.execute('SELECT City, Country FROM db WHERE Season = "Fall" AND Temperature > 20 ORDER BY Temperature')

for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [55]:
cur.execute('select SUM(Rainfall) from db where City="Cairo"')
for record in cur:
    print(record)

(27.6,)

In [56]:
cur.execute('select Season,SUM(Rainfall) from db group by Season')
for record in cur:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

<h2> Question 9 </h2>
. Suppose list words is defined as follows:

```python
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
```
Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG'] <br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] <br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).<br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)<br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
Upper = []
for word in words:
    Upper.append(word.upper())
print(Upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [25]:
lower = []
for word in words:
    lower.append(word.lower())
print(lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
count=[]
for word in words:
    count.append(len(word))
print(count)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [31]:
Combined = []
for word in words:
    three = []
    three.append(word.upper())
    three.append(word.lower())
    three.append(len(word))
    Combined.append(three)
print(Combined)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [29]:
fourc = []
for word in words:
    if len(word) >3:
        fourc.append(word)
print(fourc)

['quick', 'brown', 'jumps', 'over', 'lazy']